
.container {
  height: 72px;
  padding: 28px 64px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-very-light-gray);
  z-index: 1000;
  border-bottom: 1px solid #f2f4f7;
}
.navLinks {
  color: var(--color-deep-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.navLinks:hover {
  color: var(--color-deep-red);
}
.navContainer {
  grid-column: 2;
  display: flex;
  gap: 32px;
}
.logo {
  grid-column: 1;
  justify-self: start;
}

