@import "modern-normalize";
:root {
  /* темно-синій колір */
  --color-deep-blue: #101828;
  /* темно-сірий колір */
  --color-dark-gray: #475467;
  /* середній синій колір */
  --color-moderate-blue: #6c717b;
  /* теплий червоний колір */
  --color-warm-red: #e44848;
  /* насичений червоний колір */
  --color-deep-red: #d84343;
  /* яскраво-жовтий колір */
  --color-bright-yellow: #ffc531;
  /* світло-сіро-блакитний колір */
  --color-light-gray-blue: #dadde1;
  /* блідий блакитно-сірий колір */
  --color-pale-blue-gray: #f2f4f7;
  /* дуже світло-сірий колір */
  --color-very-light-gray: #f7f7f7;
  /* білий колір */
  --color-white: #ffffff;
}

body {
  font-family: var(--font-inter), sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
