.home {
  height: calc(100vh - 72px);

  position: relative;
}
.titleContainer {
  position: absolute;
  top: 260px;
  left: 64px;
}
.title {
  color: var(--color-very-light-gray);
  line-height: 0.66667;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 16px;
}
.subtitle {
  font-size: 24px;
  line-height: 1.33333;
  color: var(--color-very-light-gray);
  margin-bottom: 40px;
}
.button {
  display: inline-block;
  background-color: var(--color-warm-red);
  border: none;
  border-radius: 200px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  padding: 16px 48px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--color-deep-red);
}
