.card {
  width: 112px;
  height: 96px;
  border: 1px solid var(--color-light-gray-blue);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 250ms ease-in-out;
}
.card:hover,
.selected {
  border-color: var(--color-warm-red);
  cursor: pointer;
}
